label{
    display: none;
}
form{
    width: fit-content;
}

.eventList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
}

/* .event:first-child {
    height: 50px;
} */
.event {
    display: flex;
    flex: 1;
    width: 100%;
    height: 15px;
    /*display: flex;
    /*flex-wrap: wrap;
    /* gap: 10px; */
    /*flex: 1; /* Makes all items flexible */
    /*min-width: 100px; /* Ensures they don't get too small */
    /*background: lightgreen;
    /*padding: 20px;
    /*text-align: center;
    /*border: 1px solid #ccc;*/
}

/* .event > p > *{
    width: auto;
} */
/* Fix the width of the last item */
.event > p:nth-child(5) {
    flex: none;
    width: 60px; /* Set a fixed width */
}
.event > p:nth-child(5) > * {
    flex: none;
    width: 50px; /* Set a fixed width */
}
.event > p:last-child {
    flex: none;
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed width */
}

.header{
    display: flex;
    padding-top: auto;
    padding-bottom: auto;
}
#backButton{
    margin-top: auto;
    margin-bottom: auto;
}
#backButton > button{
    border-radius: 100%;
    width: 25px;
    height: 25px;
}