h1 {
    margin-top: 1rem;
}

nav ul {
    display: flex;
    margin: 1rem 0;
    padding: 0;
    flex-direction: row;
    list-style: none;
}

nav a {
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

nav a.active {
    color: white;
    background: #084298;
}
